.chart{
    grid-column: 2 / -2;    
    width: 100%;
    display:table;
    table-layout: fixed;
    height:100%;
    
    li{
      position:relative;
      display:table-cell;
      vertical-align:bottom;
      height:100%;
    }
    
    span{
      margin: 3px;
      display: block;
      background: $color-4;
      animation: draw 1s ease-in-out;
      
      &:before{
        font-size: 0.7rem;
        position:absolute;
        left:0;right:0;bottom:8px;
        padding:5px 1em 0;
        text-align:center;
        content:attr(title);
        word-wrap: break-word;
        color: rgba($white, $text-alpha);
        display: none;
      }

     
      
    }
    
  }
  
  @keyframes draw{
    0%{height:0;} 
  }


@media (min-width: 1200px){
  .chart{
      grid-column: 4 / -4;
  }

}