
.loading-content {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    text-align: center;
    //color: $grey;
    font-size: $font-size-normal;
    
}

.loading-sun {
    color: $white;
    @extend .infinite-spin;
    padding: 40px;   
    position: relative;
    font-size: 5rem;
}

.loading-sun--error {
    color: rgba($white, 0.2);    
    font-size: 5rem;    
    padding: 40px;   
}