.overview {
    grid-column: 2 / -2;
    text-align: center;

    .conditions {
        font-size: $font-size-bigger;
        text-transform: uppercase;
    

    }

    .temperature {
        font-size: 5rem;
        margin: -50px;

        .unit {
            font-size: $font-size-normal;
            top: -2.9em;
            color: rgba($white, 0.6);
        }

    }

    .location {
        font-size: $font-size-bigger;
        margin-bottom: -20px;
        
    }
    
    .time {
        font-size: $font-size-small;
        color: rgba($white, $text-alpha);

    }


}
