.overview {
    grid-column: 2 / -2;
    text-align: center;

    .conditions {
        font-size: $font-size-bigger;
        text-transform: uppercase;  
    }

    .temperature {
        font-size: 4rem;
        margin: -50px 0px -50px 0px;

        .unit {
            font-size: $font-size-bigger;
            top: -1.4em;
            color: $transparent-white-text;
        }

    }

    .location {
        font-size: $font-size-bigger;
        margin-bottom: -20px;
        
    }
    
    .time {
        font-size: $font-size-small;
        color: $transparent-white-text;

    }

}
