.toggle {
    
    padding-top: 20px;
    grid-column: -3 / -1;
    display: inline;
    font-size: $font-size-normal;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    .toggleText {
        margin: 0px 10px;
        color: rgba($white, 0.6);
    }

    input[type=checkbox]{
        height: 0;
        width: 0;
        visibility: hidden;
    }
    
    label {
        cursor: pointer;
        text-indent: -9999px;
        background: rgba($white, 0.2);
        border-radius: 40px;
        font-size: 1.2rem;
        position: relative;
    }
    
    label:after {
        content: '';
        position: absolute;
        top: 1px;
        left: 1px;
        width: 35px;
        height: 35px;
        background: $white;
        border-radius: 50%;
        transition: 0.3s;
    }
    
    input:checked + label {
        background: rgba($white, 0.2);
    }
    
    input:checked + label:after {
        left: calc(100% - 1px);
        transform: translateX(-100%);
    }
    
}

@media (max-width: 750px) and (min-width: 600px){
    .toggle{
        grid-column: -1 / -4;
    }
}

@media (max-width: 600px){
    .toggle{
        grid-column: -1 / -7;
    }
}

@media (min-width: 1200px){
    .toggle{
        grid-column: -4 / -5;
    }  
  
  }