@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan');
@import url('https://fonts.googleapis.com/css?family=Mallanna');
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai');
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
  
.the-icons {
  font-size: 25px;
}


$primary-font: 'Dosis', Helvetica Neue,sans-serif;
$boring-font: 'Mallanna', Helvetica Neue,sans-serif;
$fancy-font: 'Mallanna', Helvetica Neue,sans-serif;
//$boring-font: Roboto,Helvetica Neue,sans-serif;
$yellow: #EDB747;
$light-blue: #EFF4ED;
$dark-blue: #3e7ca5;
$white: white;
$transparent-white: rgba(255, 255, 255, 0.6);
$grey: rgb(189, 186, 158);
$font-size-normal: 24px;

$font-size-bigger: 1.414rem;
$font-size-biggest: 1.999rem;
$font-size-small: 0.707rem;
$text-alpha: 0.6;