@import 'reset';
@import 'animations';
@import 'values';
@import 'slider';
@import 'chart';
@import 'toggle';
@import 'overview';
@import 'utility';
@import 'loading';
// weather icons found here https://erikflowers.github.io/weather-icons/
@import './weather-icons/scss/weather-icons.scss';




html{
    height: 100%;    
    font-size: $font-size-normal;
    background: rgb(1, 22, 27);
    
    
}

body {
    color: $white;
    min-width:320px; /* suppose you want minimun width of 320px */
    width: auto ;  /* Firefox will set width as auto */
    height: 100%;
    width: 100%;
    background: linear-gradient(rgb(56, 133, 156), #0c404d, rgb(1, 22, 27));
    //background: linear-gradient( rgb(1, 22, 27), #0c404d, rgb(56, 133, 156));
    min-width: 320px;
    font-family: $primary-font;
    overflow-x: hidden;

}

.weather-content {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px auto 170px 25% 20px;
    width: 100vw;
    height: 100vh;
}

header {
    grid-column: 1 / -1;
    text-align: center;
    font-family: $fancy-font;
    font-size: $font-size-biggest;
    color: $dark-blue;
    margin: 25px;

}

footer {
    font-size: $font-size-small;
    text-align: center;
    grid-column: 1 / -1;
    color: rgba($white, 0.6);
    margin-top: 0px;

    a, a:visited {
        color: rgba($white, 0.6);
        text-decoration: none;

    }

    a:hover {
        color: $white;
        text-decoration: none;
    }

    a:visited {
        color: rgba($white, 0.6);
        text-decoration: none;
    }

    
}
