{
    "presets": ["react", "es2015", "latest", "stage-0"],
    "sourceMaps": true,
    "retainLines": true,
    "env": {
      "test": {
        "plugins": ["transform-es2015-modules-commonjs"]
      }
    }
  }