@import 'reset';
@import 'animations';
@import 'values';
@import 'slider';
@import 'background';
@import 'chart';
@import 'toggle';



html{
    height: 100%;    
    font-size: $font-size-normal;
    
}

body {
    min-width:320px; /* suppose you want minimun width of 320px */
    width: auto ;  /* Firefox will set width as auto */
    height: 100%;
    width: 100%;
    //background: linear-gradient($light-blue, $dark-blue);
    //background-image: url("/assets/sky.jpg");
    min-width: 320px;
    font-family: $boring-font ;

}
.loading-content {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    text-align: center;
    color: $grey;
    font-size: $font-size-normal;
    
}

.loading-sun {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
    padding: 10px;   

}
.weather-content {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 60px 220px 350px ;
    width: 100%;
    margin: auto;
}

header {
    grid-column: 1 / -1;
    text-align: center;
    font-family: $fancy-font;
    font-size: $font-size-biggest;
    color: $dark-blue;
    margin: 25px;

}


.clear-float {
    clear: both;
}

.center-text {
    text-align: left;
}

@media (min-width: 1200px){
    .weather-content{
        width: 1100px;
    }
}
